@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;800;900&display=swap');
body {
 background: #ffffff !important;
 font-family: 'Rubik', sans-serif !important;
}
.mycolor, a, .my color a, p, body {
 color: #442C2E! important;
}
.page-title {
       text-align: center;
       margin: 40px;
      }
.content {
 width: 100%;
 margin: 0 auto;
}
.inner-content {
 margin: 10px;
}
.myheader {
 color: #442C2E! important;
 width: 100%;
 margin: 0 auto;
}
.mymenu {
 margin: 0 8px;
 color: #442C2E !important;
 padding: 20px 15px;
}
.mymenu a {
 color: #442C2E !important;
}
.mytitle {
 color: #442C2E;
}
.mycolor {
 color: #442C2E !important;
}
.side-nav {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #442C2E;
}
.side-nav a {
    color: #442C2E! important;
}
.nav-wrapper {
 background: #fafafa! important;
 color: #442C2E! important;
}
.brand-logo {
 color: #442C2E! important;
}
.waves-effect2 {
 display: block !important;
}
.waves-effect.waves-brown .waves-ripple {
      background-color: rgba(254, 219, 208, 1.0);
}
.collection .collection-item {
    background-color: transparent! important;
    line-height: 1.5rem;
    padding: 10px 10px;
    margin: 0;
    border-bottom: 1px dotted #e0e0e0;
}
.modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 45%;
    border-radius: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    will-change: bottom, opacity;
}
.modal-overlay {
    background: #feeae6 !important;
    opacity: 0.5 !important;
}
.myhelpertitle {
 margin: 0px 10px;
 font-weight: bold;
 padding: 20px;
}

.bg-white {
 background: #fff;
}
.card {
 border-radius: 20px;
}
.border-0 {
    border: 0px solid #e0e0e0 !important;
}
.nav {
 height: 65px;
 margin-bottom: 15px;
}
nav, .nav-wrapper {
 background: #fedbd0 !important;
 color: #442C2E! important;
}
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.4rem !important;
    padding: 0;
    margin-left: 15px;
}
nav .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0;
}
.triangle {
  position: relative;
  background-color: #ffffff;
  display: inline-block;
}
.triangle::after {
  content: "";
  position: absolute;
  border: 40px solid #fedbd0;
  height: 0;
  width: 0;
  left: -45px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.bg-fa {
 background: #fafafa;
}
.side-nav li.active {
    background-color: rgba(254, 219, 208, 1.0) !important;
}
.mobile-menu {
 margin-right: 15px !important;
}
.bg-brown {
 background: #442C2E;
 color: #ffffff;
}
.bg-brown a, .bg-brown i {
 color: #ffffff !important;
}
.bg-brown ul li {
 color: #ffffff !important;
}
.bg-light {
 background: #f5f5f5;
}
.round {
 border-radius: 20px !important;
}
.btn {
    text-decoration: none;
    color: #fff;
    background-color: #fedbd0 !important;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    border-radius: 18px;
    font-family: 'Rubik', sans-serif;
}
.pagination li.active {
    background-color: rgba(254, 219, 208, 1.0);
}
.pagination li.disabled a {
    cursor: default;
    color: #999 !important;
}
.disabled {
  color: #999 !important;
  cursor: not-allowed !important;
  pointer-events: all !important;
}
.disabled a {
  pointer-events: none;
}
.inner-content p {
 margin-left: 30px;
}
#materialbox-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(254, 219, 208, 1.0) !important;
    z-index: 1000;
    will-change: opacity;
    opacity: 0.5 !important;
}
.border-radius-0 {
 border-radius: 0px !important;
}
.btn-floating {
    color: #442C2E !important;
    background-color: rgba(254, 219, 208, 1.0) !important;
}
.btn-floating i {
    color: #442C2E !important;
    background-color: rgba(254, 219, 208, 1.0) !important;
}
.modal.bottom-sheet-costum {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 98% !important;
    background: #ffffff;
}
.modal .modal-footer {
    border-radius: 0 !important;
    text-align: center;
}
.card .card-title {
    font-size: 13px;
    font-weight: 600;
}
.card .card-content {
    display: block;
    line-height: 0px !important;
    margin-bottom: 20px !important;
}
.card .card-content {
    padding: 8px 2px;
    border-radius: 0 0 2px 2px;
}
span.card-price {
    font-size: 11px;
    font-weight: 600;
}
