body {
 background: #f5f5f5;
}
.content {
 width: 100%;
 margin: 0 auto;
 padding: 0px;
}
.inner-content {
 margin: 10px;
}
.myheader {
 color: #442C2E! important;
 background: #FEDBD0;
 width: 100%;
 margin: 0 auto;
 border-bottom-left-radius: 50px;
 height: 80px;
}
.mymenu {
 margin: 0px 20px;
 color: #442C2E;
 padding-top: 30px;
}
.mymenu a {
 color: #442C2E;
}
.mytitle {
 color: #442C2E;
}
.mycolor {
 color: #442C2E;
}
.side-nav {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #442C2E;
}
.side-nav a {
    color: #442C2E! important;
}
.nav-wrapper {
 background: #FEDBD0! important;
 color: #442C2E! important;
}
.brand-logo {
 color: #442C2E! important;
}
.waves-effect2 {
 display: block;
}
.mycard {
 padding: 10px;
 border-radius: 20px;
 background: #fff;
}
.collection {
    margin: .1rem 0 0rem 0;
    border: 0px solid #e0e0e0;
    border-radius: 0px;
    overflow: hidden;
    position: relative;
}
.myhelpertitle {
 margin: 10px 15px;
 font-weight: bold;
}
.collection .collection-item {
    background-color: transparent! important;
    line-height: 1.5rem;
    padding: 10px 10px;
    margin: 0;
    border-bottom: 1px dotties #e0e0e0;
}
.waves-effect.waves-brown .waves-ripple {
      background-color: rgba(254, 219, 208, 1.0);
}
